/*
Here is all the local fonts used in this template.
*/


/*____________________________________________________________________________________*/
/* Abril Fatface */

@font-face {
  font-family:"Abril Fatface";
  src: url(../Fonts/AbrilFatface-Regular.ttf);
}

/*____________________________________________________________________________________*/
/* Montserrat */

@font-face {
  font-family:"Montserrat";
  src: url(../Fonts/Montserrat-Regular.ttf);
}

/*____________________________________________________________________________________*/
/* Merriweather */

@font-face {
  font-family:"Merriweather";
  src: url(../Fonts/Merriweather-Regular.ttf);
}

/*____________________________________________________________________________________*/
/* IM Fell French Canon */

@font-face {
  font-family:"IM Fell French Canon";
  src: url(../Fonts/IMFellFrenchCanon-Regular.ttf);
}
