:root {
  font-size: 62.5%;
}

html {
  --figureShortHight: 291px;
  --figureLongHight: 698px;
}

body, html {
  width: 100%;
  height: 100%;
  background-color: #000;
  color: #FFF;
}

body {
  margin: 0;
}



/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1b241f;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #674126;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #61422d;
}

.hidden {
  visibility: hidden;
  display: none;
}

.shown {
  visibility: visible;
  display: block;
}

.overshown {
  overflow-y: scroll;
}

.overhidden {
  overflow: hidden;
}

.backgroundfix {
  background-attachment: fixed !important;
}

.textbox {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVQImWNgYGDYDAAAuAC0lXSlKAAAAABJRU5ErkJggg==");
}

/*____________________________________________________________________________________*/
/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;400&display=swap');

/*____________________________________________________________________________________*/
/* Header */

header.masthead {
  background-size: cover;
  object-fit: cover;
  width: 100%;
  height: 100%;
  text-align: center;
}

header.masthead p {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 200;
}

header.about img{
  width: 100%;
  height: auto
}

.p-50 {
  padding: 50px;
}

.BottomButton {
  padding: 50px;
}

header .container-fluid {
  position: relative;
  top: 10px;
}

/* Page: Work */

header.places-things {
  background-image: url("../img/Things & Places/fire.jpg");
  background-position: top center;

}

header.people-animals {
  background-image: url("../img/People & Animals/Val.jpg");
  background-position: center center;
}

.workWrapperOne {
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: center;
}

.workWrapperTwo {
  display: flex;
  align-items: center;
}


/* Page: About */

.aboutHeader {
  font-size: 4.2rem;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 200;
  text-align: left;
  word-spacing: -5px;
}

.aboutParagraph {
  line-height: 30px;
  font-weight: 100;
}

/* Page: Pricing */

header.pricing {
  padding-top: 18rem;
}

.pricingHeader {
  font-size: 4.2rem;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 200;
  text-align: left;
  word-spacing: -5px;
}

.pricingParagraph {
  line-height: 30px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 100;
  text-align: left;
}

.pricingParagraphMobile {
  display: none;
}

/* Page: Contact */

.contactHeader {
  font-size: 4.2rem;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 200;
  text-align: left;
  word-spacing: -5px;
}

.contactParagraph {
  line-height: 30px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 100;
  text-align: left;
}

.contactHeader.email {
  display: block;
}

.contactHeader.emailMobile {
  display: none;
}

header.about .container-fluid {
    top: 50px;
  }

@media (max-width:719px) {
  .workWrapperOne {
    display: flex;
    height: 100%;
    flex-direction: row;
    justify-content: center;
  }

  .workWrapperTwo {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  header.main .container-fluid,
  header.about .container-fluid {
    top: 150px;
  }

  .contactHeader.email {
    display: none;
  }

  .contactHeader.emailMobile {
    display: block;
  }
}

@media (max-width:993px) {
  .pricingParagraphMobile {
    display: block;
  }
}

@media (max-width:1119px) {

  header.masthead h2 {
    padding-top: 2rem;
    font-size: 3.6rem;
  }

  .aboutHeader {
    font-size: 2.4rem;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 200;
    text-align: left;
    word-spacing: -5px;
  }

  .aboutParagraph {
    line-height: 30px;
    font-weight: 100;
    font-size: 1.6rem;
  }
  .contactHeader {
    font-size: 3.2rem;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 200;
    text-align: left;
    word-spacing: -5px;
  }

  .contactParagraph {
    line-height: 30px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 100;
    text-align: left;
  }
}


/*____________________________________________________________________________________*/
/* Top Menu */

nav#menuTemp {
  position: fixed;
  background-color: transparent;
  font-family: 'Sorts Mill Goudy', serif;
  width: 100%;
  height: auto;
  padding: 15px;
  animation-fill-mode: forwards;
}

@media (max-width:1366px) {
  nav#menuTemp {
    background-color: #000000;
  }
  nav#menuTemp .navbar-brand {
    font-size: 2.8rem !important;
    width: 100%;
    text-align: center;
  }
  nav#menuTemp a {
    text-align: center
  }
}

#navbarCollapse {
  width: 100%;
}

.nav-item {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.nav-item a {
  margin-left: auto;
  margin-right: auto;
}

.social a {
  margin: 0;
}

nav#menuTemp a {
  color: #FFFFFF;
  font-size: 2rem;
}

nav#menuTemp a.underline.active{
  border-bottom: 3px solid #808080;
}

nav#menuTemp a.underline:hover {
  border-bottom: 3px solid #808080;
}

nav#menuTemp .navbar-brand {
  color: #FFFFFF;
  font-size: 3.6rem;
}

nav#menuTemp .fab {
  font-size: 3.2rem;
  color: #FFFFFF;
  padding: 10px;
}

.navbar-toggler>i {
  font-size: 2.8rem;
  color: #ffffff;
}

nav#menuTemp .dropdown-menu {
  background-color: #a87561;
}

nav#menuTemp .dropdown-item {
  color: #FFFFFF;
}

/*____________________________________________________________________________________*/
/* Work Page */

.workWrapper {
  max-height: 100%;
  max-width: 100%;
  overflow: hidden;
}

img.work {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: width 0.5s, height 0.5s, transform 0.5s;
}

img.work:hover {
  overflow: hidden;
  transform: scale(1.2);
}

/*____________________________________________________________________________________*/
/* Places & Things */

#pictureGalleryWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#pictureGalleryWrapper figure {
  margin: 15px;
  flex: 0 0 25%;
  max-width: 25%;
  display: flex;
  align-items: center
}

#pictureGalleryWrapper figure.long {
  height: var(--figureLongHight);
}


#pictureGalleryWrapper figure.short {
  height: var(--figureShortHight);
}


@media (max-width:719px) {
  #pictureGalleryWrapper figure {
    margin: 5px;
    flex: 0 0 45%;
    max-width: 45%;
  }
}

figure img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: 50% 50%;
}

/*____________________________________________________________________________________*/
/* Buttons */

.btn {
  background-color: transparent;
  color: #A8897D;
  padding: 15px;
  margin: 5px 0;
  border-radius: 0;
  border: #fff solid 2px;
  width: auto;
  height: auto;
  text-decoration: none;
}

.btn:hover {
  color: #16181b;
  text-decoration: none;
  background-color: #808080;
  border: #808080 solid 2px;
  padding: 15px;
}

.btn.active {
  background-color: #A8897D;
  color: #0D1313;
}

.dropdown-menu {
  background-color: #0D1313;
}

.btn-inverted {
  background-color: #A8897D;
  color: #0D1313;
  padding: 15px;
  margin: 5px 0;
  border-radius: 25px;
  border: none;
  width: auto;
  height: auto;
  text-decoration: none;
}

.btn-inverted * {
  color: #0D1313;
}

.btn-inverted:hover {
  background-color: #b08675;
  text-decoration: none;
  padding: 15px;
}

.btn-inverted.active {
  background-color: #0D1313;
  color: #A8897D;
}

/*____________________________________________________________________________________*/
/* Videos Page*/

.youtube-player {
  width: 560px !important;
  height: 315px !important;
}

/*____________________________________________________________________________________*/
/* Standard */

hr {
  border: none;
  border-top: 5px double #A8897D;
  color: #A8897D;
  overflow: visible;
  text-align: center;
  height: 5px;
}

iframe {
  border: 0;
  margin: 15px;
  width: 100%;
  height: 380px;
  margin-right: auto !important;
  margin-left: auto !important;
}

a {
  color: #FFFFFF;
  list-style-type: none;
  text-decoration: none;
}

a:hover {
  color: #808080;
  list-style-type: none;
  text-decoration: none;
}

/*____________________________________________________________________________________*/
/* Forms */


div>input {
  width: 100%;
  height: 100%;
}

.form-control {
  display: block;
  width: 100%;
  height: 100%;
  padding: .375rem .75rem;
  font-size: 2.8rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out
}


/*____________________________________________________________________________________*/
/* Text */

p {
  margin: 16px 0px;
  font-size: 16px;
  padding: 10px 0px 5px 5px;
  float: none;
  color: #FFFFFF;
}

pre {
  text-align: center;
  margin: 16px 0px;
  font-size: 16px;
  padding: 10px 0px 5px 5px;
  float: none;
  color: #B4AA97;
}

b {
  font-weight: bold;
}

ul {
  text-decoration: none;
}

.wrapword {
  white-space: -moz-pre-wrap !important;
  /* Mozilla, since 1999 */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  white-space: pre-wrap;
  /* css-3 */
  word-wrap: break-word;
  /* Internet Explorer 5.5+ */
  white-space: -webkit-pre-wrap;
  /* Newer versions of Chrome/Safari*/
  word-break: break-all;
  white-space: normal;
}

.h1, .h2, .h3, .h4, .h5, .h6, .p, h1, h2, h3, h4, h5, h6, p {
  padding: 5px 0;
  margin: 10px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Josefin Slab', serif;
  font-weight: 500;
  color: #FFF;
}

.h1, h1 {
  font-size: 7.2rem;
}

.h2, h2 {
  font-size: 6rem;
}

.h3, h3 {
  font-size: 4.8rem;
}

.h4, h4 {
  font-size: 3.6rem;
}

.h5, h5 {
  font-size: 2.4rem;
}

.h6, h6 {
  font-size: 2rem;
}

.p, p {
  font-size: 1.6rem;
  font-family: 'Open Sans', sans-serif;
}
